.main{
    margin-top:100px;
    margin-bottom: auto;
    text-align: center;
}
.logo-png{
   width: 300px;
   display: block;
   object-fit: contain;
   object-position: center bottom;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
}

.search-input{
    width: 550px;
    line-height: 24px;
    display: block;

    margin-left: auto;
    margin-right: auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border: 1px;
    border-style: ridge;
    border-color: #dfe1e5;
    border-radius: 20px;
}

.search-input:focus {
    outline: none;
    border-color: #dfe1e5; 
}

.button{
    height: 36px;
    font-size:  14px;
    background-color: #f8f9fa;
    color: #3c4043;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 27px;

    margin-top: 30px;
    margin-bottom: 11px;
    margin-left: 4px;
    margin-right: 4px;

    padding-left: 16px;
    padding-right: 16px;

    border-width: 1px;
    border-style: solid;
    border-color: #f8f9fa;
    border-radius: 4px;
}